<div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Find a Character</h3>
  </div>
  <div class="panel-body">

    <form action="/find_character_results" method="GET" enctype="multipart/form-data">

      <div class="form-group">
        <label for="inputfind">Who are you looking for?</label>
        <input type="text" name="find_character" class="form-control" id="inputfind" placeholder="e.g. Harry Potter">
      </div>
      <br>
    <button type='submit' class='btn btn-primary'>Find Character</button>
    </form>

  </div>
</div>
</div>
