    <div class="container">
      <div class="starter-template">
        <h1><%= @title %></h1>
        <p class="lead">Manage all your characters for your novel, game, screenplay or webcomic!<br>Who was Emily Bronte's second cousin? Can't remember Luke Skywalker's Dad's name? <b>Imaginary Friends</b> is here to help you out.</p>
      <a href="new_character"><button class='btn btn-primary'>Add new Character</button></a>
      </div>
    </div><!-- /.container -->
