    <p>Here be dragons</p>

    <table class="table table-striped table-hover">
      <tr>
        <th>First name</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><%= @newfirstname %></td>
        <td>Wille</td>
      </tr>
    </table>
          

          <a href="new_character"><button class='btn btn-primary'>Add new Character</button></a>

        </li>

      </ul>

    </form>

  </body>
</html>