<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create new Character</h3>
  </div>
  <div class="panel-body">

    <form action="/create_character" method="POST">

      <div class="form-group">
        <label for="inputfirstname">First Name</label>
        <input type="text" name="first_name" class="form-control" id="inputfirstname" placeholder="e.g. Harry">
      </div>

      <div class="form-group">
        <label for="inputlastname">Last Name</label>
        <input type="text" name="last_name" class="form-control" id="inputlastname" placeholder="e.g. Potter">
      </div>

      <div class="form-group">
        <label for="inputage">Birthday</label>
        <input type="text" name="age" class="form-control" id="inputage" placeholder="e.g. 31 July 1980">
      </div>

      <div class="form-group">
        <label for="inputorigin">Origin</label>
        <input type="text" name="origin" class="form-control" id="inputorigin" placeholder="e.g. Godric's Hollow">
      </div>

    <br><br>
    <button type='submit' class='btn btn-primary'>Create New Character</button>
    </form>

    <table class='table table-hover table-striped'>
      <h3>You just entered a new character:</h3>
      <p>First name: <%= @newfirstname %></p>
      <p>Last name: <%= @newlastname %></p>
      <p>Birthday: <%= @newage %></p>
      <p>Origin: <%= @neworigin %></p>
    </table>



  </div>
</div>
</div>
