<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Picture</h3>
  </div>
  <div class="panel-body">

    <form action="/upload" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="inputfirstname">Choose a file</label>
        <input type="file" name="upload-img" class="form-control" id="characterimg" placeholder="quidditch.jpg">
      </div>

    <br><br>
    <button type='submit' class='btn btn-primary'>Upload file</button>
    </form>
  </div>
</div>
</div>
