
<div class="container">
    <% @display_character.each do |character|  %>

    <div class="panel panel-default">
      <div class="panel-heading"><p class="text-center"><h3><%= character.first_name %> <strong><%= character.last_name %></strong></h3></p></div>
      <div class="panel-body">
      <img src="/images/silhouette_male.jpg" height="140" width="140" class="img-rounded">
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Origin:</strong> <%= character.origin %></li>
        <li class="list-group-item"><strong>Birthday:</strong> <%= character.age %></li>
      </ul>
    </div>

  <% end %>

  </div>
  </div>
</div>
